body{
    display: block;
}
.container-wrapper{
    display: block ;
    background-color: rgb(212, 255, 212);
    height: 90%;
    border: solid green 1vh;
    margin: 2vh;




}
.container{
    display: flex;
    background-color:aqua ;
    border: solid blue 1vh;
    padding: 10px;
    margin: 2vh;

}

.item{
    background-color: peachpuff;
    border: 3px solid salmon;
    height: 20vh;
    flex: 1;
    margin:1vh;
    display: flex;
    padding: 2vh;
}
.iner-item{
    background-color:rgb(243, 211, 217);
    border: 2px solid red;
    flex: 1;
    margin: 1vh;

}
/*.container-01{
    display: flex;
    background-color: rgb(212, 255, 212);
    height: 80%;
    border: solid green 1vh;
    

}
    */
.container-01{
    display: flex;
  /*  background-color:aqua ;
    border: solid blue 1vh;*/
    padding: 0px;
    margin: 0px;

}

.item-01{
    background-color: peachpuff;
    border: 3px solid salmon; 
    height: auto;
    flex: 1;
    margin:2vh;
    display: flex;
    padding: 0;
}


.item-01-01{
 /*   background-color: rgb(155, 124, 98);
    border: 1px solid salmon;  */
    flex-direction: column;
    height: auto;
    flex: 1;
    margin: 2vh;
    display: flex;
    padding: 0px;
    
    
}

.iner-item-to-modify{
    background-color:rgb(243, 211, 217);
    border: 2px solid red;
    flex: 1;
    margin: 0.5vh;
    height: auto;
    
    

}